body{
margin: 0;
padding: 0;
outline: none;
font-family: Luminari, fantasy ,sans-serif;
background-color: #f0e8ff;
background: almostblack;    
}
.container{
width: 960px;
margin: 0 auto;
clear: both;
}

header{
width: 100%;
background-color: #2b1142;
color: white;
height: 100px;
border-bottom:1px solid darkgray;
}
header div #logo{
float: left;
margin-right: 10px;
}
header div span{
font-size: 3em;
}
#menu{
margin: 0;
padding: 0;
display: block;
font-size: 1.3em;
background-color: #2b1142;
border:1px solid darkgray;
border-top: 0;
}
#menu li{
list-style-type: none;
display: inline-block;
}
#menu li a{
text-decoration: none;
color: whitesmoke;
display: block;
padding: 5px 77px;
}
#menu li a:hover{
color: #8b9ff5;
}

footer{
width: 100%;
margin: 0%;
    color: white;
background-color: #2b1142;
border-top: 1px solid darkgray ;
    font-weight: bold;
    font-style: oblique;

}
footer span {
color: white;
font-size: 1.8em;
}
a {
    color: #2b1142;
    text-decoration: none;
    transition: all.6s ease;
    
}

a:hover {
    color: #8b9ff5;
    text-decoration: none;
    transition: all.6s ease;
}

a:active {color: #8ce4a6}
table {
    background-position: center;
    max-width: 960px; /* Ширина таблицы */
    background: white; /* Цвет фона таблицы */
    color: almostblack; /* Цвет текста */
    border-spacing: 1px; /* Расстояние между ячейками */
   }
 th {
    background-color: #632999; /* Цвет фона ячеек */
    padding: 5px; /* Поля вокруг текста */
     color: white;
   }
.str1 {
    background-color: #d1b3f2; /* Цвет фона ячеек */
    padding: 5px; /* Поля вокруг текста */
   }
.str2 {
    background-color: #f2b3e7; /* Цвет фона ячеек */
    padding: 5px; /* Поля вокруг текста */
   }
.str3 {
    background-color: #d1b3f2; /* Цвет фона ячеек */
    padding: 5px; /* Поля вокруг текста */
   }
.str4 {
    background-color: #f2b3e7; /* Цвет фона ячеек */
    padding: 5px; /* Поля вокруг текста */
   }
.str5 {
    background-color: #d1b3f2; /* Цвет фона ячеек */
    padding: 5px; /* Поля вокруг текста */
   }